    body {
        margin: 0%;
        background-color: #080424;
    }


    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #0e063a;
      padding: 20px 200px;
      
    }

    .navbar .logo {
      width: 70px;
      height: 70px;
      border-radius: 50%; 
    }

    .navbar ul {
      list-style: none;
      display: flex;
    }

    .navbar ul li {
      margin-left: 30px;
    }

    .link {
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-size: 16px;
      font-family: "Archivo Black", sans-serif;
      transition: color 0.3s ease;
      cursor: pointer;
    }

    .link_ativ {
      color: #493de7;
    }

    .navbar ul li a:hover {
      color: #493de7;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      gap: 80px;
    }

    h1 {
      font-family: "Archivo Black", sans-serif;
      text-align: center;
      font-size: 50px;
    }

    h2 {
      font-family: "Archivo Black", sans-serif;
      color: white;
      font-size: 40px;
      margin-top: 7%;
      text-align: center;
    }

    h3 {
      color: white;
      font-size: 35px;
      text-align: center;
    }

    
    .box {
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .quadrado {
      width: 900px;
      height: 500px;
      background-color: #2d2942;
      border-radius: 30px;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
    }

    button {
      width: 250px;
      height: 100px;
      font-family: "Archivo Black", sans-serif;
      border-radius: 30px;
      border: none;
      font-size: 20px;
      cursor: pointer;
      background-color: rgb(209, 209, 14);
    }
    
