    body {
        margin: 0%;
        background-color: #080424;
    }


    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #0e063a;
      padding: 20px 200px;
      
    }

    .navbar .logo {
      width: 70px;
      height: 70px;
      border-radius: 50%; 
    }

    .navbar ul {
      list-style: none;
      display: flex;
    }

    .navbar ul li {
      margin-left: 30px;
    }

    .link {
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-size: 16px;
      font-family: "Archivo Black", sans-serif;
      transition: color 0.3s ease;
      cursor: pointer;
    }

    .link_ativ {
      color: #493de7;
    }

    .navbar ul li a:hover {
      color: #493de7;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
      margin-bottom: 10%;
    }

    .linha {
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h1 {
      font-family: "Archivo Black", sans-serif;
      text-align: center;
      font-size: 50px;
      color: rgb(0, 0, 0);
    }

    h2{
      font-family: "Archivo Black", sans-serif;
      text-align: center;
      font-size: 38px;
      color: white;
    }

    h3 {
      font-family: "Archivo Black", sans-serif;
      text-align: center;
      font-size: 15px;
      color: white;
      margin-left: 20px;
      margin-right: 20px;
    }

    .box {
      width: 575px;
      height: 400px;
      border-radius: 30px;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #2d2942;
  }

  .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
  }

  .slogan {
      font-family: "Archivo Black", sans-serif;
      text-align: center;
      font-size: 35px;
      color: white;
  }

  .titulo {
     font-family: "Archivo Black", sans-serif;
      text-align: center;
      font-size: 50px;
      color: white;
  }
 
